.commentRow {
  display: flex;
  gap: 6px; /* spacing between username and comment text */
  align-items: center;
  flex-wrap: wrap; /* allows wrapping on small screens */
}

.text {
  color: red;
  margin: 0; /* remove default p margin */
}

.writer {
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
}

.time {
  font-size: x-small;
  color: black;
  margin-bottom: 7px;
}
